<h1> Lost your YoonPassword ? </h1>

<form action="/lost-password" method="POST">
  <input type="text" name="email" placeholder="Email">
  <input type="submit" value="Recover">
</form>

<%= "Your new password has been sent to your email." if @recover == true %>
