<h1> Accept the YOON into your heart : </h1>

<form action="/signup" method="POST">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="text" name="user[email]" placeholder="Email">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" value="Sign Up!">
</form>
